# Ignore virtual environments
.venv/
venv/

# Python cache and bytecode
__pycache__/
*.py[cod]

# Jupyter checkpoints
.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# OS files
.DS_Store

# Env files
.env
